<h1>Roles de los Miembros</h1>
<p id="notice"><%= notice %></p>

<% if current_user %>
   
	<% if is_admin || is_admin_UO || is_secre %>
	   
		<br />
		<span class="nuevo">
		<% if @search %>
		<%= link_to 'Nuevo Rol de Usuario', :controller => "rolagents", :action => "new", :op => @search %>
		<% else %>
		<%= link_to 'Nuevo Rol de Usuario', new_rolagent_path + '/' + params[:id].to_s + '/' + params[:u].to_s %>
		<% end %>
		</span>
		<br />
		<br />

	<% end %>

<% end %>

<table>
  <tr>
    <th>Rol</th>
    <th>Usuario</th>
    <th>Unidad Organizativa</th>
    <th>Comisión</th>
    <th>Fecha de Alta</th>
    <th>Estado</th>
    <th>Ver Datos</th>
   <% if is_admin || is_admin_UO || is_secre %>
    <th>Modificar</th>
    <th>Eliminar</th>
   <% end %>
  </tr>

<% @rolagents.each do |rolagent| %>
  <tr>
    <td><%= rolagent.rol.description %></td>
    <td><%= rolagent.agent.usuario %></td>
    <td><%= rolagent.unit.nombre %></td>
    <td><%= rolagent.commission.nombre %></td>
    <td><%= rolagent.fechaalta %></td>
<!--    <td><#%= rolagent.fechabaja %></td>
    <td><#%= rolagent.motivobaja %></td>-->
    <td><%= rolagent.estado.description %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), rolagent %></td>
    <% if is_admin || is_admin_UO || is_secre %>
       <td><%= link_to link_to image_tag("icons/edit.png", :width => "25px"), edit_rolagent_path(rolagent) %></td>
       <td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), rolagent, :confirm => '¿Está Seguro?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>

</table>
<br>
<span class="nuevo">
<% if @searchbycomm %>
<%= link_to 'Volver', commissions_path + "/" + params[:id] %> 
<% else %>
<%= link_to 'Volver', agents_path %> 
<% end %>
</span>
