<p id="notice"><%= notice %></p>

<table class="show">
<tr>
  <th>Rol:</th>
  <td><%= @rolagent.rol.description %></td>
</tr>

<tr>
  <th>Usuario:</th>
  <td><%= @rolagent.agent.usuario %></td>
</tr>

<tr>
  <th>Unidad Organizativa:</th>
  <td><%= @rolagent.unit.nombre %></td>
</tr>

<tr>
  <th>Comisión:</th>
  <td><%= @rolagent.commission.nombre %></td>
</tr>

<tr>
  <th>Fecha de Alta:</th>
  <td><%= @rolagent.fechaalta %></td>
</tr>

<tr>
  <th>Fecha de Baja:</th>
  <td><%= @rolagent.fechabaja %></td>
</tr>

<tr>
  <th>Motivo de la Baja:</th>
  <td><%= @rolagent.motivobaja %></td>
</tr>

<tr>
  <th>Estado:</th>
  <td><%= @rolagent.estado.description %></td>
</tr>
</table>
<br>
<!--#%= link_to 'Volver', "/rolagents/search/" +  %-->
<span class="nuevo">
<% if @searchbycomm %>
<%= link_to 'Volver', rolagents_path + "/searchbycomm/" +  @rolagent.commission.id.to_s%> 
<% else %>
<%= link_to 'Volver', rolagents_path + "/search/" + @rolagent.agent.id.to_s%> 
<% end %>
</span>
