<h1>Tabla de Valores</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Tabla</th>
    <th>Description</th>
    <th>Ver</th>
    <th>Modificar</th>
    <th>Eliminar</th>
  </tr>

<% @values.each do |value| %>
  <tr>
    <td><%= value.codigo %></td>
    <td><%= value.tabla %></td>
    <td><%= value.description %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), value %></td>
    <td><%= link_to link_to image_tag("icons/edit.png", :width => "25px"), edit_value_path(value) %></td>
    <td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), value, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<span class="nuevo">
<%= link_to 'Añadir nuevo valor a la tabla', new_value_path %>
</span>

