<p id="notice"><%= notice %></p>

<table class="show">
<tr>
  <th>Codigo:</th>
  <td><%= @value.codigo %></td>
</tr>

<tr>
  <th>Tabla:</th>
  <td><%= @value.tabla %></td>
</tr>

<tr>
  <th>Description:</th>
  <td><%= @value.description %></td>
</tr>
</table>

<br />
<span class="nuevo">
<%= link_to 'Edit', edit_value_path(@value) %>
</span>
