


html {
	margin: 0 auto;
	width: 1007px;
	height: 100%;
}

body {
	margin: 0 auto;
	background-image: url(/images/bgdegradado.gif);
	background-repeat: repeat-x;
	background-color: #ebf3fa;
	height: 100%;
}


table {
	background-color: #7a3b7a;
	width: 100%;
	border-radius: 10px 10px 10px 10px;
}

table th {
	background-color: #7a3b7a;
	border-radius: 10px 10px 10px 10px;
	color: white;
}

table td {
	text-align: center;
	background-color: #ebf3fa;
	border-radius: 10px 10px 10px 10px;
}

.show th {
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.show td {
	padding-left: 10px;
	text-align: left;
}

h1 {
	color: #7a3b7a;
	padding:5px;
	padding-left:20px;
}

.menu {
	width: 100%;
	height: 30px;
	background-color: #7a3b7a;
	color: white;
	border-radius: 10px 10px 0px 0px;
}

.submenu {
	margin-left: 20px;
	padding-top: 5px;
}

.submenu a {
	color: white;
	font-weight: bold;
	text-decoration:none;
}

.cabecera {
	width: 100%;
	margin: 0px;
	height: 115px;
	background-color: white;
	background-image: url(/images/cabecera.jpg);
	background-repeat: no-repeat;
	background-position: 221px 0px;
	border-radius: 0px 0px 10px 10px;
}


.centro {
	border-radius: 10px 10px 10px 10px;
	width: 100%;
	margin-top: 10px;
	background-color: #efefef;
}

.logo{
	float: left;
}

.noticias {
	margin: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dashed #7a3b7a;
	border-radius: 10px 10px 10px 10px;
	background-color: #ebf3fa;
	width: 600px;
}

.login {
	float: right;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dashed #7a3b7a;
	border-radius: 10px 10px 10px 10px;
	background-color: #ebf3fa;
	width: 300px;
}

.nuevo {
	background-color: #7a3b7a;
	color: white;
	border-radius: 10px 10px 10px 10px;
	margin: 20px;
	padding: 5px;
}

.nuevo a { 
	color: white;
	font-weight: bold;
	text-decoration:none;
}

.formulario {
	margin: 20px;
	font-weight: bold;
}

input, textarea {
	border-radius: 10px 10px 10px 10px;
	padding-left: 5px;
}

textarea {
   width: 100%;
}

select {
	border-radius: 10px 10px 10px 10px;
	color: black;	
	padding: 5px;
	font-weight: bold;
	background-color: #7a3b7a;
	padding-left: 5px;
	padding-right: 5px;
}


.boton {
	color: white;	
	padding: 5px;
	font-weight: bold;
	background-color: #7a3b7a;
	border-radius: 10px 10px 10px 10px;
}

.pie {
	float: bottom;
	padding: 5px;
	margin: 10px;
	margin-top: 100px;
	font-size: 11px;
	position: relative;
	text-align: center;
	color: white;
	background-color: #7a3b7a;
	border-radius: 100px 100px 100px 100px;
}

.pie>a {
	text-decoration: none;
	color: white;
}


.titulo {
	text-align: right;
	padding-top: 40px;
	padding-right: 40px;
	font-size: 30px;	
	font-weight: bold;
	color: #7a3b7a;
}



.breadcrumbs {
	font-weight: bold;
	margin-top: 17px;
	position: relative;
	left: -200px;
}

.logged {
	font-weight: bold;
	float: right;
	position: relative;
	right: 5px;
	top: 17px;
}

