<div class="breadcrumbs">
<% url = breadcrumbs = get_bread_crumb %>

<%= link_to 'Inicio', '/' %>

<% lista = '' %>
<% breadcrumbs.each do |b| %>
	<% lista += b.to_s + '/' %>
	<% texto = traduce(b) %>
	<% unless b.include?('search') %>
		<%= link_to texto, lista %>
	<% end %>
	<% if b != request.request_uri.split('/').last  and !b.include?('search')%>
		> 
	<% end %>
<% end %>

</div>
