<h1>Usuarios</h1>
<p id="notice"><%= notice %></p>
<br />
<% if is_admin || is_admin_UO || is_secre %>
   <span class="nuevo">
   <%= link_to 'Añadir nuevo usuario', new_agent_path %>
<% end %>
</span>
<br />
<br />

<% if @agents != nil %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Primer Apellido</th>
    <th>Email</th>
    <th>Ver Roles</th>
    <th>Ver Datos</th>
<% if is_admin || is_admin_UO || is_secre %>  
    <th>Modificar</th>
    <th>Eliminar</th>
<% end %>
  </tr>


<% @agents.each do |agent| %>

  <tr>
    <td><%= agent.nombre %></td>
    <td><%= agent.apellido1 %></td>
    <td><%= agent.email1 %></td>
    <td><%= link_to link_to image_tag("icons/rol.png", :width => "25px"), rolagents_path + "/search/" + agent.id.to_s %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), agent %></td>
<% if is_admin || is_admin_UO || is_secre %>    
    <td><%= link_to link_to image_tag("icons/edit.png", :width => "25px"), edit_agent_path(agent) %></td>
    <td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), agent, :confirm => '¿Está Seguro?', :method => :delete %></td>
<% end %>
  </tr>

<% end %>

</table>

<% end %>
