<%= form_for(@attendant, :html => { :class => "formulario"}) do |f| %>
  <% if @attendant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendant.errors.count, "error") %> prohibited this attendant from being saved:</h2>

      <ul>
      <% @attendant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Reunión" %><br />
	 <% unless params[:op].nil? %>
	 <% @m = Meeting.find(:all, :conditions => {:id => params[:op]}).map{ |mm| [mm.id]} %>
	 <% @reuniones = Meeting.find(:all, :conditions => {:id => params[:op]}).map { |t| [t.fechainicio, t.id] } %>
    <%= f.select :meeting_id, @reuniones, :selected => @m %>
	 <% else %>
	 <% @reuniones = Meeting.find(:all).map { |t| [t.fechainicio, t.id] } %>
    <%= f.select :meeting_id, @reuniones, {:include_blank => true} %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label "Miembro" %><br />
    <% @com = Meeting.find(:all, :conditions => {:id => params[:op]}).map { |t| [t.commission_id] } %>
    <% @id = Rolagent.find(:all, :conditions => {:commission_id => @com}).map { |t| [t.agent_id] } %>
	 <% @agentes = Agent.find(:all, :conditions => {:id => @id}).map { |t| [t.nombre + ' ' + t.apellido1, t.id] } %>
	     <%= f.select :agent_id, @agentes, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Estado" %><br />
	 <% @estados = Value.find(:all, :conditions => 'codigo like "10._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	     <%= f.select :estado_id, @estados, {:include_blank => true} %>

  </div>
  <div class="field">
    <%= f.label "Descripción" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Ausencia" %><br />
	 <% @ausencias = Value.find(:all, :conditions => 'codigo like "14._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	     <%= f.select :ausencia_id, @ausencias, {:include_blank => true} %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar Asistente a Reuniones", :class => "boton" %>
  </div>
<% end %>
