<h1>Listado de Documentación</h1>

<%= link_to 'Nueva documentación', new_doc_path %>

<br />
<table>
  <tr>
    <th>Commission</th>
    <th>Descargar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% if @agents.kind_of?(Array) then %>

<% @docs.each do |doc| %>
  <tr>
    <td><%= doc.commission.nombre %></td>
    <td><%= link_to image_tag("icons/download.png", :width => "25px"), doc.url , {:target => "_blank"} %>
	 <%= doc.url %></td>
    <td><%= link_to image_tag("icons/view.png", :width => "25px"), doc %></td>
    <td><%= link_to image_tag("icons/edit.png", :width => "25px"), edit_doc_path(doc) %></td>
    <td><%= link_to image_tag("icons/delete.png", :width => "25px"), doc, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<% end %>

<% else %>
	<% doc = @docs %>

  <tr>
    <td><%= doc.commission.nombre %></td>
    <td><%= link_to image_tag("icons/download.png", :width => "25px"), doc.url , {:target => "_blank"} %>
	 <%= doc.url %></td>
    <td><%= link_to image_tag("icons/view.png", :width => "25px"), doc %></td>
    <td><%= link_to image_tag("icons/edit.png", :width => "25px"), edit_doc_path(doc) %></td>
    <td><%= link_to image_tag("icons/delete.png", :width => "25px"), doc, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>


<% end %>
</table>

