
<%= form_for(@commission, :html => { :class => "formulario"}) do |f| %>
  <% if @commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% @commission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Tipo" %><br />
	 <% @tipos = Value.find(:all, :conditions => 'codigo like "2._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	     <%= f.select :tipo_id, @tipos, {:include_blank => true} %>

  </div>
  <div class="field">
    <%= f.label "Estado" %><br />
	 <% @estados = Value.find(:all, :conditions => 'codigo like "3._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	     <%= f.select :estado_id, @estados, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Unidad" %><br />
	 <% unless params[:id].nil? %>
	 <% @unidades = Unit.find(:all, :conditions => {:id => params[:id]} ).map { |t| [t.nombre, t.id] } %>
	     <%= f.select :unidad_id, @unidades %>
	 <% else %>
	 <% @unidades = Unit.find(:all).map { |t| [t.nombre, t.id] } %>
	     <%= f.select :unidad_id, @unidades, {:include_blank => true}  %>
	 <% end %>
  </div>
  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label "Nombre Completo" %><br />
    <%= f.text_area :nombrelargo %>
  </div>
  <div class="field">
    <%= f.label "Funciones" %><br />
    <%= f.text_area :funciones %>
  </div>
  <div class="field">
    <%= f.label "Fecha de Creación" %><br />
    <%= f.datetime_select :fechacreacion %>
  </div>
  <div class="field">
    <%= f.label "Fecha de Baja" %><br />
    <%= f.datetime_select :fechabaja, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label "Motivo de Baja" %><br />
    <%= f.text_area :motivobaja %>
  </div>
  <div class="field">
    <%= f.label "Composición" %><br />
    <%= f.text_area :composicion %>
  </div>
  <div class="field">
    <%= f.label "Visibilidad" %><br />
	 <% @visibilidades = Value.find(:all, :conditions => 'codigo like "4._"').map { |t| [t.codigo + ', ' + t.description, t.id] } %>
	 <%= f.select :visibilidad_id, @visibilidades, {:include_blank => true} %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar Comisión", :class => "boton" %>
  </div>
<% end %>
