<h1>Listado de Comisiones</h1>
<p id="notice"><%= notice %></p>
<% if is_admin || is_admin_UO %>
<br />
   <span class="nuevo">
   <%= link_to 'Nueva Comisión', new_commission_path + '/' + params[:id] %>
   </span>
<br />
<br />
<% end %>

<table>
  <tr>
    <th>Estado</th>
    <th>Unidad</th>
    <th>Nombre</th>
    <th>Fecha Creación</th>
    <th>Entrar</th>
    <th>Generar Informe</th>
<% if is_admin || is_admin_UO %>
    <th>Eliminar</th>
<% end %>
  </tr>

<% @commissions.each do |commission| %>
  <tr>
    <td><%= commission.estado.description %></td>
    <td><%= commission.unidad.nombre %></td>
    <td><%= commission.nombre %></td>
    <td><%= commission.fechacreacion %></td>
    <td><%= link_to image_tag("icons/view.png", :width => "25px"), commission %></td>
        
    <td>
      <% @R = Rolagent.find(:all, :conditions => ['agent_id == ? AND commission_id == ? AND unit_id == ?',current_user.id,commission.id,commission.unidad.id]) %>
      <% if @R[0] %>
      <%= link_to image_tag("icons/informes.png", :width => "25px"), root_path + "commissions/pdf/"+commission.id.to_s+"/" + current_user.id.to_s+".pdf" %>
      <% else %>
      <%= "No Perteneces" %>
      <% end %>
    
    </td>




   <% if is_admin || is_admin_UO %>
     <td><%= link_to image_tag("icons/delete.png", :width => "25px"), commission, :confirm => '¿Está Seguro?', :method => :delete %></td>
   <% end %>
  </tr>
<% end %>
</table>

<br/>
<span class="nuevo">
<%= link_to 'Volver', units_path + "/" + params[:id] %> 
</span>
