<%= form_for(@unit, :html => { :class => "formulario"}) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label "Nombre Completo" %><br />
    <%= f.text_area :nombrelargo %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar Unidad Organizativa", :class => "boton" %>
  </div>
<% end %>
