<h1>Unidades Organizativas</h1>
<p id="notice"><%= notice %></p>

<% if is_admin %>

<br />

<span class="nuevo">
<%= link_to 'Nueva Unidad Organizativa', new_unit_path %>
</span>
<br />
<br />
<%end%>

<table>
  <tr>
    <th>Nombre</th>
    <th>Nombre Completo</th>
    <th>Entrar</th>
    <th>Borrar</th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.nombre %></td>
    <td><%= unit.nombrelargo %></td>
    <td><%= link_to link_to image_tag("icons/view.png", :width => "25px"), unit %></td>
    <td><%= link_to link_to image_tag("icons/delete.png", :width => "25px"), unit, :confirm => '¿Está Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>
