<div class="login">
<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :usuario %></b><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <b><%= f.label :password %></b><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Acceder", :class => "boton" %>
  </div>
<% end %>

</div>
