
<div class="noticias">
<h2>Reuniones convocadas:</h2> 
<ul>
<% @noticias.each do |n| %>
	<li>	
	<%= link_to (n.commission.nombre +  " (" + 	n.estado.description) + ")", n %>
	<%= n.fechainicio %>
	</li>
<% end %>
</ul>


<h2>Documentación:</h2> 
<ul>
<% @documentacion.each do |d| %>
	<li>	
	<%= link_to (d.commission.nombre +  " - " + 	d.url), d %>
	<%= link_to image_tag("icons/download.png", :width => "25px"), d.url , {:target => "_blank"} %>
	</li>
<% end %>
</ul>


</div>
