<div class="login">

<h3>Hola,
<%= link_to (current_user.nombre + " " + current_user.apellido1) ,
	'agents/' + current_user.id.to_s %>

</h3>
<h4>
Bienvenido a GesCO, el sistema integral de gestión de comisiones de la Universidad de La Laguna.
</h4>


</div>
