<!DOCTYPE html>
<html>
<head>
  <title>Gesco</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="cabecera">
<div class="logo">
<%= link_to image_tag("logo.gif"), root_path %> 
<!--<img src="/images/logo.gif" />-->
</div>
<div class="titulo">
Gestor de Comisiones
<br />
Universidad de La Laguna
</div>
<%= render :partial => '/shared/logged' %> 
<%= render :partial => '/shared/bread_crumbs' %> 

</div>



<div class="centro">
<%= render :partial => '/shared/menu' %> 

<%= yield %>

</div>

<div class="pie">
Licenciado bajo
<%= link_to "AGPLv3", "http://www.gnu.org/licenses/agpl-3.0.html" %>
, se puede
<%= link_to "descargar libremente", "https://gitorious.org/mencey/gesco" %>
</div>


</body>
</html>
